:root {
    --primary-color: #0859D7;
    --secondary-color: #FFF;
    --primary-color-three: #f0f3f9;
    --heading-dark: #282f3b;
    --border-color-dark: #e4e7ee;
    --box-shadow-two: 0px 3px 16px 0px rgba(0, 0, 0, .05);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;
    color: #14133b;
    font-size: 16px;
}

li {
    list-style-type: none;
}

a, a:active, a:focus {
    text-decoration: none;
    outline: none;
    border: none;
    color: inherit;
}

ul li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

i {
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #14133b;
    font-weight: 600;
    line-height: 1.4;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #5b6674;
    font-size: 16px;
    line-height: 1.75;
}

.g-0, .gy-0 {
    --bs-gutter-y: 0;
}
.g-0, .gx-0 {
    --bs-gutter-x: 0;
}


.mb-40 {
    margin-bottom: 40px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-125 {
    padding-top: 125px;
}

.text-center {
    text-align: center !important;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pb-70 {
    padding-bottom: 70px;
}
.pt-90 {
    padding-top: 90px;
}

.btn--common {
    padding: 11px 12px 11px 25px;
    font-size: 16px;
    font-weight: 500;
    background: #eff4ff;
    color: #14133b;
    border-radius: 5px;
    outline: 0;
    transition: all 0.4s ease;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.01em;
}