.ptb-120 {
    padding: 120px 0;
}
.bg-dark {
    background-color: #0b163f!important;
}
.circle-shape-3 {
    bottom: -210px;
    width: 300px;
    min-height: 300px;
    min-width: 300px;
}

.bg-dark-light {
    background-color: #071c4d;
}
.right-5 {
    right: 5%;
}

.fw-bold {
    font-weight: 800!important;
    color: var(--secondary-color);
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
    color: #d9d9d9;
}

.section-heading {
    margin-bottom: 50px;
}

.section-heading h2 {
    font-weight: 800 !important;
}

.feature-grid {
    display: -ms-grid;
    display: grid;
    width: 100%;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    transition: all .3s ease-in-out;
}

.highlight-card {
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 1;
    display: block;
}
.rounded-custom {
    border-radius: 1rem!important;
}
.mb-32 {
    margin-bottom: 32px;
}

.icon-box {
    margin-bottom: 30px;
}

.bg-primary-soft {
    background-color: rgba(23,92,255,.2);
}

.icon-box span {
    width: 55px;
    height: 55px;
    line-height: 55px; 
    text-align: center;
    font-size: 22px;
}

.fal {
    display: inline-block;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-rendering: auto;
}

.text-vibgyor {
    color: #4f0fff;
}

.text-brown {
    color: #722603;
}

.text-orange {
    color: #ff6a00;
}


.bg-vibgyor {
    background-color: #4f0fff25;
}

.bg-brown {
    background-color: #7226032f;
}

.bg-orange {
    background-color: #ff6a002e;
}

@media (min-width: 767px) and (max-width: 992px){
    .feature-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 320px) and (max-width: 991px){
    .ptb-120 {
        padding: 60px 0;
    }
}

@media (min-width: 320px) and (max-width: 768px){
    .feature-grid {
        grid-template-columns: 1fr;
    }
}
