.team-section {
  padding-bottom: 60px;
}

.section-padding {
  padding: 110px 0;
}

.team-section .team-grids {
  margin: 0 -15px;
}

.team-section .team-grids .grid {
  width: calc(33% - 40px);
  float: left;
  margin: 0 20px 50px;
  text-align: center;
}

.team-section .team-grids .img-social {
  position: relative;
}

.team-section .team-grids .details {
  padding-top: 25px;
}

.team-section .team-grids .social {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.team-section .team-grids ul {
  list-style: none;
  display: inline-block;
}

.team-section .team-grids ul li {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

.team-section .team-grids ul li a {
  background-color: #0b5be0;
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: block;
  font-size: 13px;
  font-size: 0.86667rem;
  color: #fff;
  border-radius: 50%;
}

.team-section .team-grids .grid:hover .social {
  opacity: 1;
  visibility: visible;
  bottom: 20px;
}

.section-title-s5 {
  margin-bottom: 35px;
  text-align: center;
}
