@font-face {
  font-family: "icomoon";
  src: url("../webfonts/fonts/icomoon.eot?lruvdg");
  src: url("../webfonts/fonts/icomoon.eot?lruvdg#iefix")
      format("embedded-opentype"),
    url("../webfonts/fonts/icomoon.ttf?lruvdg") format("truetype"),
    url("../webfonts/fonts/icomoon.woff?lruvdg") format("woff"),
    url("../webfonts/fonts/icomoon.svg?lruvdg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu1:before {
  content: "\ead7";
}

.icon-search3:before {
  content: "\ead6";
}

.icon-chat:before {
  content: "\ead3";
}

.icon-keyhole:before {
  content: "\ead4";
}

.icon-shopping-bag1:before {
  content: "\ead5";
}

.icon-support:before {
  content: "\ea9c";
}

.icon-united:before {
  content: "\ea9d";
}

.icon-solution:before {
  content: "\ea9e";
}

.icon-file1:before {
  content: "\ea9f";
}

.icon-call-to-action:before {
  content: "\eaa0";
}

.icon-human-resources-1:before {
  content: "\eaa1";
}

.icon-human-resources:before {
  content: "\eaa2";
}

.icon-crm:before {
  content: "\eaa3";
}

.icon-recruitment-1:before {
  content: "\eaa4";
}

.icon-recruitment:before {
  content: "\eaa5";
}

.icon-employee-2:before {
  content: "\eaa6";
}

.icon-relationship:before {
  content: "\eaa7";
}

.icon-relation:before {
  content: "\eaa8";
}

.icon-international:before {
  content: "\eaa9";
}

.icon-employee-1:before {
  content: "\eaaa";
}

.icon-social-care:before {
  content: "\eaab";
}

.icon-employee:before {
  content: "\eaac";
}

.icon-support1:before {
  content: "\eaad";
}

.icon-review:before {
  content: "\eaae";
}

.icon-audit-2:before {
  content: "\eaaf";
}

.icon-checklist:before {
  content: "\eab0";
}

.icon-money:before {
  content: "\eab1";
}

.icon-audit-1:before {
  content: "\eab2";
}

.icon-audit:before {
  content: "\eab3";
}

.icon-compliance-1:before {
  content: "\eab4";
}

.icon-risk-management-3:before {
  content: "\eab5";
}

.icon-risk-management-2:before {
  content: "\eab6";
}

.icon-risk-management-1:before {
  content: "\eab7";
}

.icon-evaluate:before {
  content: "\eab8";
}

.icon-operational-risk-1:before {
  content: "\eab9";
}

.icon-risk-1:before {
  content: "\eaba";
}

.icon-risk-management:before {
  content: "\eabb";
}

.icon-compliance:before {
  content: "\eabc";
}

.icon-operational-risk:before {
  content: "\eabd";
}

.icon-statistic:before {
  content: "\eabe";
}

.icon-risks:before {
  content: "\eabf";
}

.icon-caution:before {
  content: "\eac0";
}

.icon-fish-oil:before {
  content: "\eac1";
}

.icon-risk:before {
  content: "\eac2";
}

.icon-health-insurance-2:before {
  content: "\eac3";
}

.icon-medical-report:before {
  content: "\eac4";
}

.icon-safe:before {
  content: "\eac5";
}

.icon-health-insurance-1:before {
  content: "\eac6";
}

.icon-care-1:before {
  content: "\eac7";
}

.icon-care:before {
  content: "\eac8";
}

.icon-heartbeat:before {
  content: "\eac9";
}

.icon-first-aid-kit:before {
  content: "\eaca";
}

.icon-health-insurance:before {
  content: "\eacb";
}

.icon-stethoscope:before {
  content: "\eacc";
}

.icon-healthcare-4:before {
  content: "\eacd";
}

.icon-healthcare-3:before {
  content: "\eace";
}

.icon-healthcare-2:before {
  content: "\eacf";
}

.icon-heart2:before {
  content: "\ead0";
}

.icon-talent-management-3:before {
  content: "\ead1";
}

.icon-solidarity:before {
  content: "\ead2";
}

.icon-add:before {
  content: "\e92d";
}

.icon-plus:before {
  content: "\e92e";
}

.icon-plus-1:before {
  content: "\e92f";
}

.icon-location:before {
  content: "\e930";
}

.icon-deadline:before {
  content: "\e931";
}

.icon-24-hours:before {
  content: "\e932";
}

.icon-right-arrow:before {
  content: "\e933";
}

.icon-left-arrow:before {
  content: "\e934";
}

.icon-youtube:before {
  content: "\e935";
}

.icon-linkedin:before {
  content: "\e936";
}

.icon-pinterest:before {
  content: "\e937";
}

.icon-instagram:before {
  content: "\e938";
}

.icon-youtube-1:before {
  content: "\e939";
}

.icon-mail:before {
  content: "\e93a";
}

.icon-facebook:before {
  content: "\e93b";
}

.icon-info:before {
  content: "\e93c";
}

.icon-internet:before {
  content: "\e93d";
}

.icon-telephone:before {
  content: "\e93e";
}

.icon-google-plus:before {
  content: "\e93f";
}

.icon-facebook-1:before {
  content: "\e940";
}

.icon-twitter:before {
  content: "\e941";
}

.icon-pdf:before {
  content: "\e942";
}

.icon-twitter-1:before {
  content: "\e943";
}

.icon-placeholder:before {
  content: "\e944";
}

.icon-checked:before {
  content: "\e945";
}

.icon-linkedin-1:before {
  content: "\e946";
}

.icon-phone-call:before {
  content: "\e947";
}

.icon-help:before {
  content: "\e948";
}

.icon-close:before {
  content: "\e949";
}

.icon-talent-management:before {
  content: "\e94a";
}

.icon-talent-management-2:before {
  content: "\e94b";
}

.icon-skill:before {
  content: "\e94c";
}

.icon-selective:before {
  content: "\e94d";
}

.icon-ability:before {
  content: "\e94e";
}

.icon-healthcare:before {
  content: "\e94f";
}

.icon-solution1:before {
  content: "\e950";
}

.icon-healthcare-1:before {
  content: "\e951";
}

.icon-location1:before {
  content: "\e92a";
}

.icon-24-hours1:before {
  content: "\e92b";
}

.icon-deadline1:before {
  content: "\e92c";
}

.icon-talent-management1:before {
  content: "\e927";
}

.icon-welfare:before {
  content: "\e928";
}

.icon-risk1:before {
  content: "\e929";
}

.icon-service-3-icon:before {
  content: "\e924";
}

.icon-service-1-icon:before {
  content: "\e925";
}

.icon-service-2-icon:before {
  content: "\e926";
}

.icon-thumbs-up:before {
  content: "\e922";
}

.icon-recommendation:before {
  content: "\e923";
}

.icon-setup-dots:before {
  content: "\e920";
}

.icon-phone-call1:before {
  content: "\e921";
}

.icon-quote:before {
  content: "\e91f";
}

.icon-left-arrow-long:before {
  content: "\e91c";
}

.icon-right-arrow-long:before {
  content: "\e91d";
}

.icon-creote-svg:before {
  content: "\e91e";
}

.icon-bar:before {
  content: "\e91b";
}

.icon-folder:before {
  content: "\e91a";
}

.icon-eye:before {
  content: "\e900";
}

.icon-share-1:before {
  content: "\e901";
}

.icon-important-delivery:before {
  content: "\e902";
}

.icon-service:before {
  content: "\e903";
}

.icon-dollar:before {
  content: "\e904";
}

.icon-pharmacy:before {
  content: "\e905";
}

.icon-businessman-1:before {
  content: "\e906";
}

.icon-development:before {
  content: "\e907";
}

.icon-video-player:before {
  content: "\e908";
}

.icon-binoculars:before {
  content: "\e909";
}

.icon-growth:before {
  content: "\e90a";
}

.icon-text:before {
  content: "\e90b";
}

.icon-bow-and-arrow:before {
  content: "\e90c";
}

.icon-download:before {
  content: "\e90d";
}

.icon-play:before {
  content: "\e90e";
}

.icon-user-image-with-black-background:before {
  content: "\e90f";
}

.icon-download-symbol:before {
  content: "\e910";
}

.icon-right-arrow-1:before {
  content: "\e911";
}

.icon-right-arrow1:before {
  content: "\e912";
}

.icon-line-chart:before {
  content: "\e913";
}

.icon-search:before {
  content: "\e914";
}

.icon-arrow-down-sign-to-navigate:before {
  content: "\e915";
}

.icon-share:before {
  content: "\e916";
}

.icon-phone-call2:before {
  content: "\e917";
}

.icon-email:before {
  content: "\e918";
}

.icon-placeholder1:before {
  content: "\e919";
}

.icon-activity:before {
  content: "\e952";
}

.icon-airplay:before {
  content: "\e953";
}

.icon-alert-circle:before {
  content: "\e954";
}

.icon-alert-octagon:before {
  content: "\e955";
}

.icon-alert-triangle:before {
  content: "\e956";
}

.icon-align-center:before {
  content: "\e957";
}

.icon-align-justify:before {
  content: "\e958";
}

.icon-align-left:before {
  content: "\e959";
}

.icon-align-right:before {
  content: "\e95a";
}

.icon-anchor:before {
  content: "\e95b";
}

.icon-aperture:before {
  content: "\e95c";
}

.icon-archive:before {
  content: "\e95d";
}

.icon-arrow-down:before {
  content: "\e95e";
}

.icon-arrow-down-circle:before {
  content: "\e95f";
}

.icon-arrow-down-left:before {
  content: "\e960";
}

.icon-arrow-down-right:before {
  content: "\e961";
}

.icon-arrow-left:before {
  content: "\e962";
}

.icon-arrow-left-circle:before {
  content: "\e963";
}

.icon-arrow-right:before {
  content: "\e964";
}

.icon-arrow-right-circle:before {
  content: "\e965";
}

.icon-arrow-up:before {
  content: "\e966";
}

.icon-arrow-up-circle:before {
  content: "\e967";
}

.icon-arrow-up-left:before {
  content: "\e968";
}

.icon-arrow-up-right:before {
  content: "\e969";
}

.icon-at-sign:before {
  content: "\e96a";
}

.icon-award:before {
  content: "\e96b";
}

.icon-bar-chart:before {
  content: "\e96c";
}

.icon-bar-chart-2:before {
  content: "\e96d";
}

.icon-battery:before {
  content: "\e96e";
}

.icon-battery-charging:before {
  content: "\e96f";
}

.icon-bell:before {
  content: "\e970";
}

.icon-bell-off:before {
  content: "\e971";
}

.icon-bluetooth:before {
  content: "\e972";
}

.icon-bold:before {
  content: "\e973";
}

.icon-book:before {
  content: "\e974";
}

.icon-book-open:before {
  content: "\e975";
}

.icon-bookmark:before {
  content: "\e976";
}

.icon-box:before {
  content: "\e977";
}

.icon-briefcase:before {
  content: "\e978";
}

.icon-calendar:before {
  content: "\e979";
}

.icon-camera:before {
  content: "\e97a";
}

.icon-camera-off:before {
  content: "\e97b";
}

.icon-cast:before {
  content: "\e97c";
}

.icon-check:before {
  content: "\e97d";
}

.icon-check-circle:before {
  content: "\e97e";
}

.icon-check-square:before {
  content: "\e97f";
}

.icon-chevron-down:before {
  content: "\e980";
}

.icon-chevron-left:before {
  content: "\e981";
}

.icon-chevron-right:before {
  content: "\e982";
}

.icon-chevron-up:before {
  content: "\e983";
}

.icon-chevrons-down:before {
  content: "\e984";
}

.icon-chevrons-left:before {
  content: "\e985";
}

.icon-chevrons-right:before {
  content: "\e986";
}

.icon-chevrons-up:before {
  content: "\e987";
}

.icon-chrome:before {
  content: "\e988";
}

.icon-circle:before {
  content: "\e989";
}

.icon-clipboard:before {
  content: "\e98a";
}

.icon-clock:before {
  content: "\e98b";
}

.icon-cloud:before {
  content: "\e98c";
}

.icon-cloud-drizzle:before {
  content: "\e98d";
}

.icon-cloud-lightning:before {
  content: "\e98e";
}

.icon-cloud-off:before {
  content: "\e98f";
}

.icon-cloud-rain:before {
  content: "\e990";
}

.icon-cloud-snow:before {
  content: "\e991";
}

.icon-code:before {
  content: "\e992";
}

.icon-codepen:before {
  content: "\e993";
}

.icon-codesandbox:before {
  content: "\e994";
}

.icon-coffee:before {
  content: "\e995";
}

.icon-columns:before {
  content: "\e996";
}

.icon-command:before {
  content: "\e997";
}

.icon-compass:before {
  content: "\e998";
}

.icon-copy:before {
  content: "\e999";
}

.icon-corner-down-left:before {
  content: "\e99a";
}

.icon-corner-down-right:before {
  content: "\e99b";
}

.icon-corner-left-down:before {
  content: "\e99c";
}

.icon-corner-left-up:before {
  content: "\e99d";
}

.icon-corner-right-down:before {
  content: "\e99e";
}

.icon-corner-right-up:before {
  content: "\e99f";
}

.icon-corner-up-left:before {
  content: "\e9a0";
}

.icon-corner-up-right:before {
  content: "\e9a1";
}

.icon-cpu:before {
  content: "\e9a2";
}

.icon-credit-card:before {
  content: "\e9a3";
}

.icon-crop:before {
  content: "\e9a4";
}

.icon-crosshair:before {
  content: "\e9a5";
}

.icon-database:before {
  content: "\e9a6";
}

.icon-delete:before {
  content: "\e9a7";
}

.icon-disc:before {
  content: "\e9a8";
}

.icon-dollar-sign:before {
  content: "\e9a9";
}

.icon-download1:before {
  content: "\e9aa";
}

.icon-download-cloud:before {
  content: "\e9ab";
}

.icon-droplet:before {
  content: "\e9ac";
}

.icon-edit:before {
  content: "\e9ad";
}

.icon-edit-2:before {
  content: "\e9ae";
}

.icon-edit-3:before {
  content: "\e9af";
}

.icon-external-link:before {
  content: "\e9b0";
}

.icon-eye1:before {
  content: "\e9b1";
}

.icon-eye-off:before {
  content: "\e9b2";
}

.icon-facebook1:before {
  content: "\e9b3";
}

.icon-fast-forward:before {
  content: "\e9b4";
}

.icon-feather:before {
  content: "\e9b5";
}

.icon-figma:before {
  content: "\e9b6";
}

.icon-file:before {
  content: "\e9b7";
}

.icon-file-minus:before {
  content: "\e9b8";
}

.icon-file-plus:before {
  content: "\e9b9";
}

.icon-file-text:before {
  content: "\e9ba";
}

.icon-film:before {
  content: "\e9bb";
}

.icon-filter:before {
  content: "\e9bc";
}

.icon-flag:before {
  content: "\e9bd";
}

.icon-folder1:before {
  content: "\e9be";
}

.icon-folder-minus:before {
  content: "\e9bf";
}

.icon-folder-plus:before {
  content: "\e9c0";
}

.icon-framer:before {
  content: "\e9c1";
}

.icon-frown:before {
  content: "\e9c2";
}

.icon-gift:before {
  content: "\e9c3";
}

.icon-git-branch:before {
  content: "\e9c4";
}

.icon-git-commit:before {
  content: "\e9c5";
}

.icon-git-merge:before {
  content: "\e9c6";
}

.icon-git-pull-request:before {
  content: "\e9c7";
}

.icon-github:before {
  content: "\e9c8";
}

.icon-gitlab:before {
  content: "\e9c9";
}

.icon-globe:before {
  content: "\e9ca";
}

.icon-grid:before {
  content: "\e9cb";
}

.icon-hard-drive:before {
  content: "\e9cc";
}

.icon-hash:before {
  content: "\e9cd";
}

.icon-headphones:before {
  content: "\e9ce";
}

.icon-heart:before {
  content: "\e9cf";
}

.icon-help-circle:before {
  content: "\e9d0";
}

.icon-hexagon:before {
  content: "\e9d1";
}

.icon-home:before {
  content: "\e9d2";
}

.icon-image:before {
  content: "\e9d3";
}

.icon-inbox:before {
  content: "\e9d4";
}

.icon-info1:before {
  content: "\e9d5";
}

.icon-instagram1:before {
  content: "\e9d6";
}

.icon-italic:before {
  content: "\e9d7";
}

.icon-key:before {
  content: "\e9d8";
}

.icon-layers:before {
  content: "\e9d9";
}

.icon-layout:before {
  content: "\e9da";
}

.icon-life-buoy:before {
  content: "\e9db";
}

.icon-link:before {
  content: "\e9dc";
}

.icon-link-2:before {
  content: "\e9dd";
}

.icon-linkedin1:before {
  content: "\e9de";
}

.icon-list:before {
  content: "\e9df";
}

.icon-loader:before {
  content: "\e9e0";
}

.icon-lock:before {
  content: "\e9e1";
}

.icon-log-in:before {
  content: "\e9e2";
}

.icon-log-out:before {
  content: "\e9e3";
}

.icon-mail1:before {
  content: "\e9e4";
}

.icon-map:before {
  content: "\e9e5";
}

.icon-map-pin:before {
  content: "\e9e6";
}

.icon-maximize:before {
  content: "\e9e7";
}

.icon-maximize-2:before {
  content: "\e9e8";
}

.icon-meh:before {
  content: "\e9e9";
}

.icon-menu:before {
  content: "\e9ea";
}

.icon-message-circle:before {
  content: "\e9eb";
}

.icon-message-square:before {
  content: "\e9ec";
}

.icon-mic:before {
  content: "\e9ed";
}

.icon-mic-off:before {
  content: "\e9ee";
}

.icon-minimize:before {
  content: "\e9ef";
}

.icon-minimize-2:before {
  content: "\e9f0";
}

.icon-minus:before {
  content: "\e9f1";
}

.icon-minus-circle:before {
  content: "\e9f2";
}

.icon-minus-square:before {
  content: "\e9f3";
}

.icon-monitor:before {
  content: "\e9f4";
}

.icon-moon:before {
  content: "\e9f5";
}

.icon-more-horizontal:before {
  content: "\e9f6";
}

.icon-more-vertical:before {
  content: "\e9f7";
}

.icon-mouse-pointer:before {
  content: "\e9f8";
}

.icon-move:before {
  content: "\e9f9";
}

.icon-music:before {
  content: "\e9fa";
}

.icon-navigation:before {
  content: "\e9fb";
}

.icon-navigation-2:before {
  content: "\e9fc";
}

.icon-octagon:before {
  content: "\e9fd";
}

.icon-package:before {
  content: "\e9fe";
}

.icon-paperclip:before {
  content: "\e9ff";
}

.icon-pause:before {
  content: "\ea00";
}

.icon-pause-circle:before {
  content: "\ea01";
}

.icon-pen-tool:before {
  content: "\ea02";
}

.icon-percent:before {
  content: "\ea03";
}

.icon-phone:before {
  content: "\ea04";
}

.icon-phone-call3:before {
  content: "\ea05";
}

.icon-phone-forwarded:before {
  content: "\ea06";
}

.icon-phone-incoming:before {
  content: "\ea07";
}

.icon-phone-missed:before {
  content: "\ea08";
}

.icon-phone-off:before {
  content: "\ea09";
}

.icon-phone-outgoing:before {
  content: "\ea0a";
}

.icon-pie-chart:before {
  content: "\ea0b";
}

.icon-play1:before {
  content: "\ea0c";
}

.icon-play-circle:before {
  content: "\ea0d";
}

.icon-plus1:before {
  content: "\ea0e";
}

.icon-plus-circle:before {
  content: "\ea0f";
}

.icon-plus-square:before {
  content: "\ea10";
}

.icon-pocket:before {
  content: "\ea11";
}

.icon-power:before {
  content: "\ea12";
}

.icon-printer:before {
  content: "\ea13";
}

.icon-radio:before {
  content: "\ea14";
}

.icon-refresh-ccw:before {
  content: "\ea15";
}

.icon-refresh-cw:before {
  content: "\ea16";
}

.icon-repeat:before {
  content: "\ea17";
}

.icon-rewind:before {
  content: "\ea18";
}

.icon-rotate-ccw:before {
  content: "\ea19";
}

.icon-rotate-cw:before {
  content: "\ea1a";
}

.icon-rss:before {
  content: "\ea1b";
}

.icon-save:before {
  content: "\ea1c";
}

.icon-scissors:before {
  content: "\ea1d";
}

.icon-search1:before {
  content: "\ea1e";
}

.icon-send:before {
  content: "\ea1f";
}

.icon-server:before {
  content: "\ea20";
}

.icon-settings:before {
  content: "\ea21";
}

.icon-share1:before {
  content: "\ea22";
}

.icon-share-2:before {
  content: "\ea23";
}

.icon-shield:before {
  content: "\ea24";
}

.icon-shield-off:before {
  content: "\ea25";
}

.icon-shopping-bag:before {
  content: "\ea26";
}

.icon-shopping-cart:before {
  content: "\ea27";
}

.icon-shuffle:before {
  content: "\ea28";
}

.icon-sidebar:before {
  content: "\ea29";
}

.icon-skip-back:before {
  content: "\ea2a";
}

.icon-skip-forward:before {
  content: "\ea2b";
}

.icon-slack:before {
  content: "\ea2c";
}

.icon-slash:before {
  content: "\ea2d";
}

.icon-sliders:before {
  content: "\ea2e";
}

.icon-smartphone:before {
  content: "\ea2f";
}

.icon-smile:before {
  content: "\ea30";
}

.icon-speaker:before {
  content: "\ea31";
}

.icon-square:before {
  content: "\ea32";
}

.icon-star:before {
  content: "\ea33";
}

.icon-stop-circle:before {
  content: "\ea34";
}

.icon-sun:before {
  content: "\ea35";
}

.icon-sunrise:before {
  content: "\ea36";
}

.icon-sunset:before {
  content: "\ea37";
}

.icon-tablet:before {
  content: "\ea38";
}

.icon-tag:before {
  content: "\ea39";
}

.icon-target:before {
  content: "\ea3a";
}

.icon-terminal:before {
  content: "\ea3b";
}

.icon-thermometer:before {
  content: "\ea3c";
}

.icon-thumbs-down:before {
  content: "\ea3d";
}

.icon-thumbs-up1:before {
  content: "\ea3e";
}

.icon-toggle-left:before {
  content: "\ea3f";
}

.icon-toggle-right:before {
  content: "\ea40";
}

.icon-tool:before {
  content: "\ea41";
}

.icon-trash:before {
  content: "\ea42";
}

.icon-trash-2:before {
  content: "\ea43";
}

.icon-trello:before {
  content: "\ea44";
}

.icon-trending-down:before {
  content: "\ea45";
}

.icon-trending-up:before {
  content: "\ea46";
}

.icon-triangle:before {
  content: "\ea47";
}

.icon-truck:before {
  content: "\ea48";
}

.icon-tv:before {
  content: "\ea49";
}

.icon-twitch:before {
  content: "\ea4a";
}

.icon-twitter1:before {
  content: "\ea4b";
}

.icon-type:before {
  content: "\ea4c";
}

.icon-umbrella:before {
  content: "\ea4d";
}

.icon-underline:before {
  content: "\ea4e";
}

.icon-unlock:before {
  content: "\ea4f";
}

.icon-upload:before {
  content: "\ea50";
}

.icon-upload-cloud:before {
  content: "\ea51";
}

.icon-user:before {
  content: "\ea52";
}

.icon-user-check:before {
  content: "\ea53";
}

.icon-user-minus:before {
  content: "\ea54";
}

.icon-user-plus:before {
  content: "\ea55";
}

.icon-user-x:before {
  content: "\ea56";
}

.icon-users:before {
  content: "\ea57";
}

.icon-video:before {
  content: "\ea58";
}

.icon-video-off:before {
  content: "\ea59";
}

.icon-voicemail:before {
  content: "\ea5a";
}

.icon-volume:before {
  content: "\ea5b";
}

.icon-volume-1:before {
  content: "\ea5c";
}

.icon-volume-2:before {
  content: "\ea5d";
}

.icon-volume-x:before {
  content: "\ea5e";
}

.icon-watch:before {
  content: "\ea5f";
}

.icon-wifi:before {
  content: "\ea60";
}

.icon-wifi-off:before {
  content: "\ea61";
}

.icon-wind:before {
  content: "\ea62";
}

.icon-x:before {
  content: "\ea63";
}

.icon-x-circle:before {
  content: "\ea64";
}

.icon-x-octagon:before {
  content: "\ea65";
}

.icon-x-square:before {
  content: "\ea66";
}

.icon-youtube1:before {
  content: "\ea67";
}

.icon-zap:before {
  content: "\ea68";
}

.icon-zap-off:before {
  content: "\ea69";
}

.icon-zoom-in:before {
  content: "\ea6a";
}

.icon-zoom-out:before {
  content: "\ea6b";
}

.icon-heart1:before {
  content: "\ea6c";
}

.icon-cloud1:before {
  content: "\ea6d";
}

.icon-star1:before {
  content: "\ea6e";
}

.icon-tv1:before {
  content: "\ea6f";
}

.icon-sound:before {
  content: "\ea70";
}

.icon-video1:before {
  content: "\ea71";
}

.icon-trash1:before {
  content: "\ea72";
}

.icon-user1:before {
  content: "\ea73";
}

.icon-key1:before {
  content: "\ea74";
}

.icon-search2:before {
  content: "\ea75";
}

.icon-settings1:before {
  content: "\ea76";
}

.icon-camera1:before {
  content: "\ea77";
}

.icon-tag1:before {
  content: "\ea78";
}

.icon-lock1:before {
  content: "\ea79";
}

.icon-bulb:before {
  content: "\ea7a";
}

.icon-pen:before {
  content: "\ea7b";
}

.icon-diamond:before {
  content: "\ea7c";
}

.icon-display:before {
  content: "\ea7d";
}

.icon-location2:before {
  content: "\ea7e";
}

.icon-eye2:before {
  content: "\ea7f";
}

.icon-bubble:before {
  content: "\ea80";
}

.icon-stack:before {
  content: "\ea81";
}

.icon-cup:before {
  content: "\ea82";
}

.icon-phone1:before {
  content: "\ea83";
}

.icon-news:before {
  content: "\ea84";
}

.icon-mail2:before {
  content: "\ea85";
}

.icon-like:before {
  content: "\ea86";
}

.icon-photo:before {
  content: "\ea87";
}

.icon-note:before {
  content: "\ea88";
}

.icon-clock1:before {
  content: "\ea89";
}

.icon-paperplane:before {
  content: "\ea8a";
}

.icon-params:before {
  content: "\ea8b";
}

.icon-banknote:before {
  content: "\ea8c";
}

.icon-data:before {
  content: "\ea8d";
}

.icon-music1:before {
  content: "\ea8e";
}

.icon-megaphone:before {
  content: "\ea8f";
}

.icon-study:before {
  content: "\ea90";
}

.icon-lab:before {
  content: "\ea91";
}

.icon-food:before {
  content: "\ea92";
}

.icon-t-shirt:before {
  content: "\ea93";
}

.icon-fire:before {
  content: "\ea94";
}

.icon-clip:before {
  content: "\ea95";
}

.icon-shop:before {
  content: "\ea96";
}

.icon-calendar1:before {
  content: "\ea97";
}

.icon-wallet:before {
  content: "\ea98";
}

.icon-vynil:before {
  content: "\ea99";
}

.icon-truck1:before {
  content: "\ea9a";
}

.icon-world:before {
  content: "\ea9b";
}
